<table cellpadding="0" cellspacing="0" class="{{ view_style }}" border="0" id="{{ view_table_id }}" width="100%">
    <thead>
    </thead>
    {% if view_individual_filtering %}
        <tfoot>
            {% if view_multiselect.enabled and "first" == view_multiselect.position %}
                <th></th>
            {% endif %}
            {% for column in view_columns %}
                <th>
                    {% if column.searchable %}
                        <input type="text" class="individual_filtering" placeholder="{{ column.title }}" />
                    {% else %}
                        <input type="hidden" />
                    {% endif %}
                </th>
            {% endfor %}
            {% if view_multiselect.enabled and "last" == view_multiselect.position %}
                <th></th>
            {% endif %}
        </tfoot>
    {% endif %}
    <tbody>
    </tbody>
</table>
