<script>
    function render_boolean(data, type, row, meta, trueIcon, falseIcon, trueLabel, falseLabel) {
        if ("" == trueIcon && "" == trueLabel) {
            trueLabel = "true";
        }

        if ("" == falseIcon && "" == falseLabel) {
            falseLabel = "false";
        }

        if (data == true) {
            return "<span class='" + trueIcon + "'></span> " + trueLabel;
        } else {
            return "<span class='" + falseIcon + "'></span> " + falseLabel;
        }
    }

    function render_datetime(data, type, row, meta, dateFormat) {
        if (data != null && typeof data.timestamp != "undefined") {
            moment.locale("{{ app.request.locale }}");
            return moment.unix(data.timestamp).format(dateFormat);
        } else {
            return null;
        }
    }

    function render_timeago(data, type, row, meta) {
        if (data != null && typeof data.timestamp != "undefined") {
            moment.locale("{{ app.request.locale }}");
            return moment.unix(data.timestamp).fromNow();
        } else {
            return null;
        }
    }

    function render_progress_bar(data, type, row, meta, barClasses, min, max, label, multi) {
        var valueNow = 'aria-valuenow="' + data + '"';
        var valueMin = 'aria-valuemin="' + min + '"';
        var valueMax = 'aria-valuemax="' + max + '"';
        var size = (data-min)*100/(max-min);
        var classNames = 'class="progress-bar ';

        if (true == multi) {
            if (size <= 35) {
                classNames += 'progress-bar-success' + '"';
            }
            if (size > 35 && size <= 70) {
                classNames += 'progress-bar-warning' + '"';
            }
            if (size > 70) {
                classNames += 'progress-bar-danger' + '"';
            }
        } else {
            classNames += barClasses + '"';
        }

        var style = 'style="width:' + size +  '%"';
        var result = '<div class="progress">';
            result += '<div ' + classNames;
            result += 'role="progressbar"' + valueNow + ' ' + valueMin + ' ' + valueMax + ' ' + style + '>';
            if (true == label) {
                result += data;
            }
            result += '</div></div>';
        return result;
    }
</script>
