<script>

    function render_boolean(data, type, row, meta, trueIcon, falseIcon, trueLabel, falseLabel) {
        if ("" == trueIcon && "" == trueLabel) {
            trueLabel = "true";
        }

        if ("" == falseIcon && "" == falseLabel) {
            falseLabel = "false";
        }

        if (data == true) {
            return "<span class='" + trueIcon + "'></span> " + trueLabel;
        } else {
            return "<span class='" + falseIcon + "'></span> " + falseLabel;
        }
    }

    function render_datetime(data, type, row, meta, dateFormat) {
        if (data != null && typeof data.timestamp != "undefined") {
            moment.locale("{{ app.request.locale }}");
            return moment.unix(data.timestamp).format(dateFormat);
        } else {
            return null;
        }
    }

    function render_timeago(data, type, row, meta) {
        if (data != null && typeof data.timestamp != "undefined") {
            moment.locale("{{ app.request.locale }}");
            return moment.unix(data.timestamp).fromNow();
        } else {
            return null;
        }
    }

</script>
