{% extends datatable_site_config().base_layout %}

{% block main %}
    <table class="table">
        <tbody>
            {% for field in fields %}
                <tr>
                    <td>
                        <b>{{ field|capitalize }}:</b>
                    </td>
                    <td>
                        {{ attribute(entity, field) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ form(delete_form) }}
{% endblock %}
